# Fichiers parasites macOS
._*
.DS_Store
.AppleDouble
.Spotlight-V100
.Trashes

# Fichiers temporaires
*~
*.tmp

# Journaux Stata / logs d'analyse a la racine
analyse.log

# Fichiers temporaires Word/Excel
~$*

# Fichiers temporaires LaTeX
latex/*.synctex*
latex/*.aux
latex/*.log
latex/*.out
latex/*.toc
latex/*.bbl
latex/*.bcf
latex/*.blg
latex/*.run.xml
latex/*.fls
latex/*.fdb_latexmk
