# Artefacts de compilation LaTeX (régénérés automatiquement)
*.aux
*.blg
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*-blx.bib
*.fdb_latexmk
*.fls
*.stoc
texput.log
# Le .bbl et le .bcf de main sont VERSIONNÉS volontairement :
# ils permettent d'afficher la bibliographie même si biber n'est pas lancé.
*.bbl
!main.bbl
*.bcf
!main.bcf
